source_up

export PROJECT_ROOT=$(pwd)
export PROJECT_NAME=$(basename $PROJECT_ROOT)

export LOCAL_DATABASE_PORT=$(docker inspect ticker_database_1 | jq -r '.[0].NetworkSettings.Ports["5432/tcp"][0].HostPort')
export LOCAL_DATABASE_HOST=localhost
export LOCAL_DATABASE_USER=ticker
export LOCAL_DATABASE_PASSWORD=s3cr3t
export LOCAL_DATABASE_NAME=ticker
export TICKER_DATABASE=postgres://$LOCAL_DATABASE_USER:$LOCAL_DATABASE_PASSWORD@$LOCAL_DATABASE_HOST:$LOCAL_DATABASE_PORT/$LOCAL_DATABASE_NAME?sslmode=disable

export PGHOST=$LOCAL_DATABASE_HOST
export PGPORT=$LOCAL_DATABASE_PORT
export PGDATABASE=$LOCAL_DATABASE_NAME
export PGUSER=$LOCAL_DATABASE_USER
export PGPASSWORD=$LOCAL_DATABASE_PASSWORD

